*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.form-container{
  margin-top: 20px;
}

.response-card{
  font-size: 16px;
  background-color: rgb(252, 247, 247)
}

.response-div{
  display: flex;
  flex-direction: column
}

.response{
  display: flex;
  flex-direction: row;
}

.paragraph-style{
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
}